html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position:relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*my codes*/
.NavBarBgColor{

    background-color:black;

}

.NavbarFontColor{
    color:white;
}

.NavVelvetVogueFont{

    font-weight:bold;
}

/*index page promotion card (left side)*/
@media (max-width:430px) {

    .Position_Promotion_Vard {
        transform:translateY(150%);
    }
}

/*index page center card (welcome note)*/
@media (max-width:430px){

    .Position{
        transform:translateY(-400px);
        text-align:center;

    }
}


/*index page category item postion chanching (gents item)*/
@media(max-width:430px)
{
    .GentsCardPositionChanging {
        transform:translateX(-105px);
        align-content: center;
    }
}

/*index page category item postion chanching (kids item)*/
@media(max-width:430px) {
    .KidsCardPositionChanging {
        transform: translateX(-35px);
        margin-top:20px;
        align-content:center;
    }
}

/*index page category item postion chanching (kids item)*/
@media(max-width:330px) {
    .KidsCardPositionChanging02 {
        transform: translateX(-10px);
        margin-top: 20px;
        align-content: center;
    }
}

/*index page category item postion chanching (Ladies item)*/
@media(max-width:430px) {
    .LadiesCardPositionChanging {
        /*transform: translate(10px);*/
        align-content: center;
    }
}

/*Login page media queries*/
@media(max-width:426px) /*Configuring Mobile L 425px */
{
    .LoginDiv {
      transform:translateY(25px);
     /* width:100%;*/
    }
}

/*@media(max-width:376px)*/ /*Configuring Mobile M 375px */
/*{
    .LoginDiv {
        width: 170%;
       
        transform: translate(-30px, 30px);*/ /*X , Y*/
    /*}
}


@media(min-width:425px)*/ /*Configuring Lap top view | 425px */
/*{
    .LoginDiv {
       
        justify-content:center;
    }
}*/


