html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position:relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}






/*my codes*/
.NavBarBgColor{

    background-color:black;

}

.NavbarFontColor{
    color:white;
}

.NavVelvetVogueFont{

    font-weight:bold;
}

/*Index page category cards 325px*/
@media (max-width:325px) {

    .categoryLabel {
        transform: translateY(8%);
    }

    .MyPositioningTopLadies {
        transform: translateY(10%);
    }

    .MyPositioningTopKids {
        transform: translateY(15%);
    }
}

/*Index page category cards 376*/
@media (max-width:376px) {

    .categoryLabel {
        transform: translateY(8%);
    }

    .MyPositioningTopLadies {
        transform: translateY(10%);
    }

    .MyPositioningTopKids {
        transform: translateY(15%);
    }
}

 
/*Index page category cards 426*/
@media (max-width:426px) {

    .categoryLabel {
        transform: translateY(8%);
    }

    .MyPositioningTopLadies {
        transform: translateY(10%);
    }

    .MyPositioningTopKids {
        transform: translateY(15%);
    }
}

/*index page promotion card (left side)*/
@media (max-width:430px) {

    .LeftPosition_Promotion_Vard {
         transform:translateY(180%);
     
    }
}

@media (max-width:325px) {

    .LeftPosition_Promotion_Vard {
        transform: translateY(199%);
    }
}

@media (max-width:376px) {

    .LeftPosition_Promotion_Vard {
        transform: translateY(199%);
    }
}

/*index page center card (welcome note)*/
.WelcomeNoteHeight {
    height: 45vh;
}
@media (max-width:430px){

    .Position{
        transform:translateY(-50vh);
       
       /* text-align:center;*/

    }

    .WelcomeNoteImg{
        text-align:center;
    }

    .MyCardHeight {
        height: 85vh;
    }
}


@media (max-width:325px) {

    .WelcomeNoteImg {
        text-align: center;
    }
}



/*index page category item postion chanching (gents item)*/
@media(max-width:430px)
{
    .GentsCardPositionChanging {
        transform:translateX(-105px);
        align-content: center;
    }
}

/*index page category item postion chanching (kids item)*/
@media(max-width:430px) {
    .KidsCardPositionChanging {
        transform: translateX(-35px);
        margin-top:20px;
        align-content:center;
    }
}

/*index page category item position chanching (kids item)*/
@media(max-width:330px) {
    .KidsCardPositionChanging02 {
        transform: translateX(-10px);
        margin-top: 20px;
        align-content: center;
    }
}

/*index page category item postion chanching (Ladies item)*/
@media(max-width:430px) {
    .LadiesCardPositionChanging {
        /*transform: translate(10px);*/
        align-content: center;
    }
}


/*Login page | this also used in sign up page(sign in page)*/
.MyclzBorder {
    border-style: solid;
    border-color: black;
    width: 50%;
    border-radius: 25px;
    background-color: white;
}

@media(max-width:325px) {

    .MyclzBorder {
        width: 100%;
    }
}

@media(max-width:376px) {

    .MyclzBorder {
        width: 100%;
    }
}

@media(max-width:426px) {

    .MyclzBorder {
        width: 100%;
    }
}

.AlignmentOfCard {
    padding-top: 5%;
    margin-bottom: 5%;
}

@media (max-width:325px) {
    .AlignmentOfCard{
        padding-top:10%;
    }
    

}

@media (max-width:376px) {
    .AlignmentOfCard {
        padding-top: 10%;
    }
}

@media (max-width:426px) {
    .AlignmentOfCard {
        padding-top: 10%;
    }
}

/*Login Config page*/
.LoginConfig {
    font-size: 200%
}

@media(max-width:376px) {
    .LoginConfig {
        font-size: 100%;
       
    }
}

@media(max-width:426px) {
    .LoginConfig {
        font-size: 100%;
    }
}

/*This also used in sign up page*/
.Fonts{

    font-size:100%;
}

.MyclsBorder {

    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    width:50%;
}

@media(max-width:325px){

    .MyclsBorder{
        width:100%;
    }

}

@media(max-width:376px) {

    .MyclsBorder {
        width: 100%;
    }
}

@media(max-width:426px) {

    .MyclsBorder {
        width: 100%;
    }
}

/*This also used in Login and sign up pages (sign in page)*/
.BorderAlifnment{
    justify-items:center;
}

/*This also used in Login and sign up pages (sign in page)*/
.CardItemMoving
{

    padding-left:3%;
    padding-right:3%;
}


@media(max-width:326px) 
{
    .LoginConfig{
        font-size:100%;
        
    }
}

/*About us page*/
.clsAboutUs {
    font-size: 200%;
    color: black;
    margin-top: 15%;
}

.paragraph {
    font-size: 120%;
    color: black;
    margin-top:5%;
    
}

.img {
    width: 90%;
    height: 50vh;
    margin-bottom: 10%;
    margin-top: 20%;
}

@media (max-width:324px){

    .img {
        width: 200%;
    }
}

@media (max-width:376px) {

    .img {
        width: 200%;
    }
}

@media (max-width:426px) {

    .img {
        width: 200%;
    }
}

/*Contact us page*/
.ContactUS {
    font-size: 55px;
}

.MclsContactUSRow02{

    padding-top:5%;
    margin-bottom:5%;
}

.MyclsFontSizeOfSM{
    font-size:200%;
}

.MyclsLeftSideHeadeFonts{

    font-size:190%;
}

.MyclsComonFontsSizes{
    font-size:150%;
}

.MyAddItemsCard {

    border: solid;
    border-color: black;
    border-radius: 25px;
    padding-left:3%;
    padding-right:3%;
}

/*Admin dashboard*/
.MyOrdersCard{

    border:solid;
    border-radius:25px;
    margin-top:3%
    
}

.MyOrdersCardImg {
    width: 70%;
    height: 70%;
    padding-left: 20%;
    padding-top: 3%;
    padding-bottom: 5%
}

@media (max-width:426px)
{
    .MyOrdersCard01 {
        display: flex;
        justify-content: center; /* horizontal */
       /* align-items: center;*/
      
    }
}

/*PDP page*/
.PDPFonts {
    font-size: 150%;
}

.PDPFonts02 {
    font-size: 100%;
}

.PaymentPAgeBorder {
    border-style: solid;
    border-color: black;
    width: 50%;
    border-radius: 25px;
    margin-bottom: 3%
}

@media (max-width:325px) {
    .PaymentPAgeBorder {
        width: 100%;
    }
}

@media (max-width:377px) {
    .PaymentPAgeBorder {
        width: 100%;
    }
}

@media (max-width:426px) {
    .PaymentPAgeBorder {
        width: 100%;
    }
}

/*Inquiries page*/
.Bdr {
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%
}

@media (max-width:325px) {
    .Bdr {
        width: 100%;
    }
}

@media (max-width:377px) {
    .Bdr {
        width: 100%;
    }
}

@media (max-width:426px) {
    .Bdr {
        width: 100%;
    }
}