html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position:relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}






/*my codes*/
.NavBarBgColor{

    background-color:black;

}

.NavbarFontColor{
    color:white;
}

.NavVelvetVogueFont{

    font-weight:bold;
}

/*Index page category cards 325px*/
@media (max-width:325px) {

    .categoryLabel {
        transform: translateY(8%);
    }

    .MyPositioningTopLadies {
        transform: translateY(10%);
    }

    .MyPositioningTopKids {
        transform: translateY(15%);
    }
}

/*Index page category cards 376*/
@media (max-width:376px) {

    .categoryLabel {
        transform: translateY(8%);
    }

    .MyPositioningTopLadies {
        transform: translateY(10%);
    }

    .MyPositioningTopKids {
        transform: translateY(15%);
    }
}


/*Index page category cards 426*/
@media (max-width:426px) {

    .categoryLabel {
        transform: translateY(8%);
    }

    .MyPositioningTopLadies {
        transform: translateY(10%);
    }

    .MyPositioningTopKids {
        transform: translateY(15%);
    }
}

/*index page promotion card (left side)*/
@media (max-width:430px) {

    .LeftPosition_Promotion_Vard {
         transform:translateY(180%);
     
    }
}

@media (max-width:325px) {

    .LeftPosition_Promotion_Vard {
        transform: translateY(199%);
    }
}

@media (max-width:376px) {

    .LeftPosition_Promotion_Vard {
        transform: translateY(199%);
    }
}

/*index page center card (welcome note)*/
.WelcomeNoteHeight {
    height: 45vh;
}
@media (max-width:430px){

    .Position{
        transform:translateY(-50vh);
       
       /* text-align:center;*/

    }

    .WelcomeNoteImg{
        text-align:center;
    }

    .MyCardHeight {
        height: 85vh;
    }
}


@media (max-width:325px) {

    .WelcomeNoteImg {
        text-align: center;
    }
}



/*index page category item postion chanching (gents item)*/
@media(max-width:430px)
{
    .GentsCardPositionChanging {
        transform:translateX(-105px);
        align-content: center;
    }
}

/*index page category item postion chanching (kids item)*/
@media(max-width:430px) {
    .KidsCardPositionChanging {
        transform: translateX(-35px);
        margin-top:20px;
        align-content:center;
    }
}

/*index page category item postion chanching (kids item)*/
@media(max-width:330px) {
    .KidsCardPositionChanging02 {
        transform: translateX(-10px);
        margin-top: 20px;
        align-content: center;
    }
}

/*index page category item postion chanching (Ladies item)*/
@media(max-width:430px) {
    .LadiesCardPositionChanging {
        /*transform: translate(10px);*/
        align-content: center;
    }
}

/*Login page media queries*/
@media(max-width:426px) /*Configuring Mobile L 425px */
{
    .LoginDiv {
      transform:translateY(25px);
     /* width:100%;*/
    }
}

@media(max-width:376px)/* Configuring Mobile M 375px */
{
    .LoginDiv {
        /*width: 170%;
       
        transform: translate(-30px, 30px);*//* X , Y*/
        width:100%;
    }
}


/*@media(min-width:425px)*/ /*Configuring Lap top view | 425px */
/*{
    .LoginDiv {
       
        justify-content:center;
    }
}*/

/*About us page*/
.clsAboutUs {
    font-size: 50px;
    color: black;
}

@media (max-width:426px){

    .clsAboutUs{

        transform:translate(100px,310px);
    }

}

.paragraph {
    font-size: 24px;
    color: black;
    margin-top:5%;
}

@media (max-width:426px) {
    .paragraph {
        font-size: 14px;
        transform: translateY(320px);
        width: 350px;
    }
    
}

.img {
    width: 500px;
    height: 500px;
}

@media (max-width:426px) {
    .img {
        /*visibility:hidden;*/
        width:400px;
        height:400px;
        transform:translate(-210px,-100px);
       
    }
}

/*Contact us page*/
.ContactUS {
    font-size: 55px;
}


@media (max-width:426px) {
    .ContactUS {
        font-size: 40px;
    }

    .LeftSide {
        transform: translateY(-20%);
    }

    .rightSide{

        transform:translate(-50%,70%);
      
       

    }
}





