<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VelvetVeogue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VelvetVeogue.styles.css" asp-append-version="true" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <!--Font awesome CDN-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTTXr4+G+... (shortened)" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!--Nav bar-->
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm border-bottom box-shadow mb-3 NavBarBgColor ">

            <div class="container-fluid ">

                <a class="navbar-brand NavVelvetVogueFont" asp-area="" asp-page="/Index" style="color:yellow">Velvet Veogue</a>

                <button class="navbar-toggler" style="background-color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="mainNavbar">
                    <!--Left side links-->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown"> <!--My modification-->

                            <a class=" nav-link  dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">ITEMS</a>
                            <ul class="dropdown-menu">

                                <li >
                                    <a class="dropdown-item" asp-page="">Add items</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-page="">Update or remove items</a>
                                </li>

                            </ul>
                          

                        </li>

                        <li class="nav-item">
                            <a class="nav-link " style="color:white;" asp-area="" asp-page="/AdminDashboard">Admin Dashboard</a>
                        </li>
                    </ul>

                   
                    <!--Right side links-->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">

                        <li class="nav-item">
                            <a class="nav-link " style="color:white" asp-page="/Inquiries">Inquiries</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" asp-page="/AboutUS">About us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " style="color:white" asp-page="/ContactUS">Contact us</a>
                        </li>

                        <!--Sign in/ up buttons-->
                        <li class="nav-item dropdown">

                            <!--Sign in botton-->
                            <a class="btn btn-light  dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">Sign in</a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a class="dropdown-item " asp-page="/Login">Sign in</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-page="/LoginConfig">Login Configurations</a>
                                </li>

                            </ul>

                            <!--Sign up botton-->
                            <a role="button" class="btn btn-secondary" style="color:white" asp-page="/SignUp">Sign up</a>
                        </li>



                    </ul>

                </div>

               
              

            </div>

        </nav>

    </header>

    <div class="container-fluid ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  <!--Footer area-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>