@page
@model VelvetVeogue.Pages.AboutUSModel
@{
}

<div class="container-fluid" style=" margin-bottom:200px;background-image:url( /img/ABD.jpg);background-size:cover;">


    <div class="container">

        <div class="row" style="margin-top:140px;">

            <!--Left side-->
            <div class="col-6 col-sm-6 col-md-6">

                <div class="row">

                    <div class="col-12 col-sm-12 col-md-12">
                        <h2 class="fw-bold" style="font-size:55px;color:white;">About US</h2>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-sm-12 col-md-12">
                        <p style="font-size:24px;color:white;">
                            Welcome to Velvet Vogue – where fashion meets elegance. We are a modern clothing brand
                            committed to delivering high-quality, stylish, and comfortable apparel for men, women,
                            and kids. Whether you're looking for everyday basics or standout pieces, our collections
                            are designed to make you look and feel your best. At Velvet Vogue, we blend timeless trends
                            with fresh designs, ensuring every item reflects sophistication and comfort. Join us in
                            celebrating individuality and effortless style.
                        </p>
                    </div>
                </div>

            </div>

            <!--right side-->
            <div class="col-6 col-md-6 col-ms-6">
                <img src="/img/ABDimg02.jpg" style="width:500px;height:500px;" />

            </div>

        </div>

    </div>

</div>

