@page
@model VelvetVeogue.Pages.AddItemsModel
@{
}

<form method="post">

    <div class="container">

        <!--Main row-->
        <div class="row" style="margin-top:5%">

            <div class="col-12 col-sm-12 col-md-12" style="border:solid;border-color:black;border-radius:25px;">

                <!--Row 01-->
                <div class="row text-center" style="padding-top:1%;">
                    <div class="col-12 col-sm-12 col-md-12">

                        <label class="fw-bold" style="font-size:50px;">ADD ITEMS</label>

                    </div>
                </div>

                <!--Row 02-->
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12">
                        <hr style="height:5px;" />


                    </div>

                </div>

                <!--Row 03-->
                <div class="row justify-content-center">
                    <!--Left side (img)-->
                    <div class="col-6 col-sm-6 col-md-6 justify-content-center" style="padding-top:10%;">

                        <div style="padding-left:5%">
                            <img src="~/img/Empty.jpg" />
                        </div>

                        <div style="padding-top:5%;padding-left:25%">

                            <button type="submit" class="btn btn-primary fw-bold" style="background-color:black;border-color:black;color:white;
                                width:50%;margin-bottom:4%;font-size:25px">
                                Browse

                            </button>

                        </div>



                    </div>

                    <!--Right side (input fields)-->
                    <div class="col-6 col-sm-6 col-md-6">

                        <!--Sub row 01-->
                        <div class="row" style="padding-top:5%">

                            <div class="col-12 col-sm-12 col-md-12">

                                <label style="font-size:20px;">Category code</label>
                                <input type="text" class="form-control" id="" placeholder="Category code" asp-for="CategoryCode" style="color:grey" />
                                

                            </div>
                        </div>

                        <!--Sub row 02-->
                        <div class="row" style="padding-top:5%">

                            <div class="col-12 col-sm-12 col-md-12">

                                <label style="font-size:20px;">Category Name</label>
                                <input type="text" class="form-control" id="" asp-for="tbxCategoryName" placeholder="Category Name" style="color:grey" />
                                <span asp-validation-for="tbxCategoryName" class="text-danger"></span>

                            </div>
                        </div>

                        <!--Sub row 03-->
                        <div class="row" style="padding-top:5%">

                            <div class="col-12 col-sm-12 col-md-12">

                                <label style="font-size:20px;">Name (optional)</label>
                                <input type="text" class="form-control" id="" placeholder="Name" asp-for="tbxName" style="color:grey" />

                            </div>
                        </div>

                        <!--Sub row 04-->
                        <div class="row" style="padding-top:5%">

                            <div class="col-12 col-sm-12 col-md-12">

                                <label style="font-size:20px;">Color</label>
                                <input type="text" class="form-control" id="" asp-for="tbxcolor" placeholder="Color" style="color:grey" />
                                <span asp-validation-for="tbxcolor" class="text-danger"></span>

                            </div>
                        </div>

                        <!--Sub row 05-->
                        <div class="row" style="padding-top:5%">

                            <div class="col-12 col-sm-12 col-md-12">

                                <label style="font-size:20px;">Size</label>
                                <input type="text" class="form-control" asp-for="tbxsizes" id="" placeholder="Size" style="color:grey" />
                                <span asp-validation-for="tbxsizes" class="text-danger"></span>

                            </div>
                        </div>


                        <!--Sub row 06-->
                        <div class="row" style="padding-top:5%">

                            <div class="col-12 col-sm-12 col-md-12">

                                <label style="font-size:20px;">Available Qty</label>
                                <input type="text" class="form-control" id="" asp-for="tbxAvailableQTY" placeholder="Available Qty" style="color:grey" />
                                <span asp-validation-for="tbxAvailableQTY" class="text-danger"></span>

                            </div>
                        </div>

                        <!--Sub row 07-->
                        <div class="row" style="padding-top:5%">

                            <div class="col-12 col-sm-12 col-md-12">

                                <label style="font-size:20px;">Price</label>
                                <input type="text" class="form-control" id="" asp-for="tbxprice" placeholder="Price" style="color:grey" />
                                <span asp-validation-for="tbxprice" class="text-danger"></span>

                            </div>
                        </div>



                    </div>

                </div>

                <!--Row 04 hr line-->
                <div class="row justify-content-center">

                    <div class="col-12 col-sm-12 col-md-12">

                        <hr style="height:5px;" />


                    </div>

                </div>

                <!--Row 05-->
                <div class="row text-center" style="padding-top:3%">

                    <div class="col-12 col-sm-12 col-md-12">

                        <button type="submit" class="btn btn-primary fw-bold" style="background-color:black;border-color:black;color:white;
                            width:50%;margin-bottom:4%;font-size:25px">
                            Save
                        </button>


                    </div>

                </div>

            </div>

        </div>

    </div>

</form>

