@page
@model VelvetVeogue.Pages.AddItemsModel
@{
}


<div class="container">

    <!--Main row-->
    <div class="row" style="margin-top:5%">

        <div class="col-12 col-sm-12 col-md-12" style="border:solid;border-color:black;border-radius:25px;">

            <!--Row 01-->
            <div class="row text-center" style="padding-top:1%;">
                <div class="col-12 col-sm-12 col-md-12">

                    <label class="fw-bold" style="font-size:50px;">ADD ITEMS</label>

                </div>
            </div>

            <!--Row 02-->
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12" style="border:solid;border-color:black;border-radius:25px;width:95%;"></div>

            </div>

            <!--Row 03-->
            <div class="row justify-content-center">
                <!--Left side (img)-->
                <div class="col-6 col-sm-6 col-md-6 justify-content-center" style="padding-top:10%;">

                    <div>
                        <img src="~/img/Empty.jpg" />
                    </div>

                </div>

                <!--Right side (input fields)-->
                <div class="col-6 col-sm-6 col-md-6">

                </div>

            </div>

        </div>

    </div>

</div>