@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    
    <!--Row 01-->
    <div class="row">

        <!--Left card-->
        <div class="col-12 col-md-6">

            <!--Pending orders-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:red">

                <!--Sub row-->
                <div class="row ">

                   
                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/Empty.jpg" class="MyOrdersCardImg" />
                        </div>
                       
                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Pending Orders</label>
                            </div>
                          
                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">@Model.PendingOrders</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Month</label>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--Right card-->
        <div class="col-12 col-md-6">

            <!--complete orders-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:#01A5D2">

                <!--Sub row-->
                <div class="row ">


                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/Empty.jpg" class="MyOrdersCardImg" />
                        </div>

                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Complete Orders</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">000</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Month</label>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <!--Row 02-->
    <div class="row" style="margin-bottom:3%">

        <!--Left card-->
        <div class="col-12 col-md-6">

            <!--Inquiries orders-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:#15C375">

                <!--Sub row-->
                <div class="row ">


                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/Empty.jpg" class="MyOrdersCardImg" />
                        </div>

                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Inquiries</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">@Model.LblInquiriesCount</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Month</label>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--Right card-->
        <div class="col-12 col-md-6">

            <!--complete orders (this year)-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:#2A89AF">

                <!--Sub row-->
                <div class="row ">


                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/Empty.jpg" class="MyOrdersCardImg" />
                        </div>

                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Complete Orders</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">000</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Year</label>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
