@page
@model VelvetVeogue.Pages.ContactUSModel
@{
}

<form method="post">

    <div class="container">

        <!--Row 01-->
        <div class="row text-center">

            <div class="col-12 col-md-12 col-sm-12  ">

                <h1 class="fw-bold " style="">Contact US</h1>

            </div>

        </div>

        <!--Row 02-->
        <div class="row" style="margin-top:50px;">

            <!--left side-->
            <div class="col-6 col-sm-6 col-md-6 LeftSide" style="margin-top:10%">

                <!--Address-->
                <div class="row">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:30px;">Address</label>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12">
                        <label style="font-size:20px;">1452, street, city</label>
                    </div>
                </div>

                <!--Phone number-->
                <div class="row" style="margin-top:3%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:30px;">Phone</label>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12">
                        <label style="font-size:20px;">+94 45 2503664</label>
                    </div>
                </div>

                <!--Email-->
                <div class="row" style="margin-top:3%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:30px;">Email</label>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12">
                        <label style="font-size:20px;">velvetvogue@gmail.com</label>
                    </div>
                </div>

            </div>

            <!--right side-->
            <div class="col-6 col-sm-6 col-md-6 rightSide" style="border-style:solid;border-color:black;border-radius:25px;">

                <!--Card header-->
                <div class="row" style="padding-top:5%;padding-left:15%;">
                    <div class="col-12 col-md-12 col-sm-12">
                        <h1>Send Message</h1>
                    </div>
                </div>

                <!--Full name-->
                <div class="row" style="padding-left:10%;padding-top:5%">

                    <div class="col-12 col-md-12 col-sm-12">
                        <label style="font-size:20px">Full Name</label>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12" style="padding-top:2%">
                        <input type="text" class="form-control" asp-for="tbxFullName" style="width:90%;color:grey" placeholder="Full Name" />
                        <span asp-validation-for="tbxFullName" class="text-danger"></span>
                    </div>

                </div>

                <!--Email-->
                <div class="row" style="padding-left:10%;padding-top:5%">

                    <div class="col-12 col-md-12 col-sm-12">
                        <label style="font-size:20px">Email</label>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12" style="padding-top:2%">
                        <input type="text" class="form-control" asp-for="tbxEmail" style="width:90%;color:grey" placeholder="Email" />
                        <span asp-validation-for="tbxEmail" class="text-danger"></span>
                    </div>

                </div>

                <!--Message-->
                <div class="row" style="padding-left:10%;padding-top:5%">

                    <div class="col-12 col-md-12 col-sm-12">
                        <label style="font-size:20px">Message</label>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12" style="padding-top:2%">
                        <textarea class="form-control" asp-for="tbxMessage" style="width:90%;color:grey;resize:none" rows="3" placeholder="Message"></textarea>
                        <span asp-validation-for="tbxMessage" class="text-danger"></span>
                    </div>

                </div>

                <!--Button-->
                <div class="row " style="margin-top:5%;">

                    <div class="col-12 col-md-12 col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary" style="background-color:black;border-color:black;color:white;
                    width:60%;margin-bottom:4%">
                            Send
                        </button>
                    </div>

                </div>

            </div>

        </div>



    </div>

</form>
