@page
@model VelvetVeogue.Pages.GentsItemsModel
@{
}

<div class="container">

    <div class="row">

        @foreach(var data in Model.Tbl_ItemDetails)
        {
            <div class="col-3 col-md-3" style="margin-top:3%">

                <!--Card-->
                <div class="card" style="width: 18rem;">

                    <!--Card inside row 01-->
                    <div class="row">

                        <div class="col-12 col-md-12">
                            <img src="data:image/png;base64,@Convert.ToBase64String(data.img)" class="card-img-top" style="height:200px;" alt="No image">

                        </div>

                    </div>

                    <!--Card inside row 02-->
                    <div class="row" style="padding-left:5%;padding-top:5%">

                        <div class="col-12 col-md-12">
                            <h5 class="fw-bold">@data.CategoryName</h5>

                        </div>

                    </div>


                    <!--Card inside row 03-->
                    <div class="row" style="padding-left:5%">

                        <div class="col-6 col-md-6">
                            <labe style="font-size:19px">Colors</labe>

                        </div>

                        <div class="col-6 col-md-6">
                            <labe>@data.Color</labe>

                        </div>

                    </div>


                    <!--Card inside row 04-->
                    <div class="row" style="padding-left:5%">

                        <div class="col-6 col-md-6">
                            <labe style="font-size:19px">Available Sizes</labe>

                        </div>

                        <div class="col-6 col-md-6">
                            <labe>@data.size</labe>

                        </div>

                    </div>


                    <!--Card inside row 05-->
                    <div class="row" style="padding-left:5%;">

                        <div class="col-6 col-md-6">
                            <labe style="font-size:19px">Price</labe>

                        </div>

                        <div class="col-6 col-md-6">
                            <labe>@data.Price</labe>

                        </div>

                    </div>

                    <!--Card inside row 06 | hr line-->
                    <div class="row" style="padding-top:3%;">

                        <div class="col-12 col-md-12">
                            <hr />

                        </div>


                    </div>

                    <!--Card inside row 06 | button-->
                    <div class="row text-center" style="padding-top:2%;padding-bottom:3%;">

                        <div class="col-12 col-md-12">
                            <button style="width:70%" class="btn btn-primary">Buy Now</button>

                        </div>


                    </div>



                </div>

            </div>
            
        }

       

    </div>

   


</div>

