@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Row 01-->
<div class="row">

    <!--Left side card-->
    <div class="col-sm-3 d-flex justify-content-center mt-5 LeftPosition_Promotion_Vard">
     
        <div class="card" style="width: 18rem;">

            <img src="/img/promotionRight.jpg" class="card-img-top" alt="...">

            <h3 class="ps-3">Title</h3>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
        </div>

    </div>

    <!--center card-->
    <div class="col-md-6 col-12  mt-2 Position">

        <div class="card mb-3 MyCardHeight WelcomeNoteHeight" style="max-width: 100%;">
            <div class="row g-0 ">
               
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Welcome</h5>
                        <p class="card-text">
                            ✨ Welcome to Velvet Veogue ✨
                            Step into a world of style where fashion meets comfort.
                            We bring you the latest trends, timeless classics, and outfits designed to make you look and feel your best.

                            🛍️ Whether it’s casual wear, formal elegance, or something special, we’ve got the perfect fit for every occasion.

                            Thank you for choosing us — because here, it’s not just clothing, it’s your style, your story. 💖
                        </p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-4 pt-2 pe-2 pb-2 WelcomeNoteImg">
                    <img src="/img/welcome.jpg" style="height:40vh;padding-top:5%;padding-right:5%;padding-left:5%" class="img-fluid rounded-start " alt="...">
                </div>
            </div>
        </div>

    </div>

    <!--Right side card-->
    <div class="col-sm-3 d-flex justify-content-center mt-5" >

        <div class="card" style="width: 18rem;">

            <img src="/img/promotionRight.jpg" class="card-img-top" alt="...">

            <h3 class="ps-3">Title</h3>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
        </div>

    </div>



</div>

<!--Row 02-->
<div class="row text-center ">
    <div class="categoryLabel">
        <label class="fs-3 fw-bold">Categories</label>
    </div>
</div>

<!--Row 03-->
<div class="row mb-5 mt-5 justify-content-center text-center">

    <!--left space-->
    @* <div class="col-md-3">

    </div> *@

    <!--center cards-->
    <div class="col-12 col-md-4 d-flex justify-content-center ">

        <div class="card" style="width:18rem">
            <img src="/img/mens.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gents Items</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a class="btn btn-primary" asp-page="GentsItems">Gents</a>
            </div>
        </div>

    </div>

    <div class="col-12 col-md-4  d-flex justify-content-center MyPositioningTopLadies">

        <div class="card d-flex" style="width: 18rem;">
            <img src="/img/Ladies.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ladies Items</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a asp-page="LadiesItems" class="btn btn-primary">Ladies</a>
            </div>
        </div>

    </div>


    <div class="col-12 col-md-4  d-flex justify-content-center MyPositioningTopKids">

        <div class="card d-flex" style="width: 18rem;">
            <img src="/img/kids.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kids Items</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a asp-page="KidsItems" class="btn btn-primary">Kids</a>
            </div>
        </div>

    </div>

    @* <div class="col-12 col-md-4  d-flex justify-content-center">

        <div class="card ms-5" style="width: 18rem;">
            <img src="/img/kids.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kids Items</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a asp-page="KidsItems" class="btn btn-primary">Kids</a>
            </div>
        </div>

    </div> *@

    @* <!--right space-->
    <div class="col-md-3">
    </div> *@
</div>


<!--Row 04 Empty -->
<div class="row " >
    <div class="" style="height:100px;width:100%;">

    </div>

    
</div>
