@page
@model VelvetVeogue.Pages.InquiriesModel
@{

}

<form method="post">

    <div class="container">

        <!--Main row-->
        <div class="row justify-content-center">

            <!--main border-->
            <div class="col-12 col-md-12" style="border-style:solid;border-color:black;border-radius:25px;width:50%;margin-top:5%;margin-bottom:5%">

                <!--Row 01-->
                <div class="row text-center col-12 col-md-12" style="padding-top:3%">
                    <label class="fw-bold " style="font-size:190%">INQUIRIES</label>
                </div>

                <!--Row 02-->
                <div class="row justify-content-center " style="padding-top:3%">
                    <div class="col-12 col-md-12" style="border-style:solid;border-color:black;width:99%;height:2%"></div>
                </div>


                <!--Row 03-->
                <div class="row" style="padding-top:3%">

                    <div class="col-12 col-md-12">

                        <label style="font-size:100%;">Name</label>
                        <input type="text" style="color:grey" asp-for="tbxName" class="form-control" placeholder="Your Name" />
                        <span asp-validation-for="tbxName" class="text-danger"></span>

                    </div>

                </div>

                <!--Row 04-->
                <div class="row" style="padding-top:3%">

                    <div class="col-12 col-md-12">

                        <label style="font-size:100%;">Contact No</label>
                        <input type="text" style="color:grey" asp-for="tbxContactNo" class="form-control" placeholder="Contact No" />
                        <span asp-validation-for="tbxContactNo" class="text-danger"></span>

                    </div>

                </div>



                <!--Row 05-->
                <div class="row" style="padding-top:3%">

                    <div class="col-12 col-md-12">

                        <label style="font-size:100%;">Subject</label>
                        <input type="text" style="color:grey" asp-for="tbxSubject" class="form-control" placeholder="subject" />
                        <span asp-validation-for="tbxSubject" class="text-danger"></span>

                    </div>

                </div>

                <!--Row 06-->
                <div class="row" style="padding-top:3%;padding-top:3%">

                    <div class="col-12 col-md-12">

                        <label style="font-size:100%;">Message (Issue)</label>
                        <textarea style="color:grey;resize:none" rows="3" asp-for="tbxMessage" class="form-control" placeholder="Message"></textarea>
                        <span asp-validation-for="tbxMessage" class="text-danger"></span>

                    </div>

                </div>


                <!--Row 07-->
                <div class="row" style="padding-top:3%;padding-top:3%">

                    <div class="col-12 col-md-12">

                        <button type="submit" class="btn btn-primary" style="background-color:black;border-color:black;color:white;
                            width:100%;margin-bottom:4%">
                            Submit
                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>


</form>

