@page
@model VelvetVeogue.Pages.InquiriesModel
@{

}

<div class="container">

    <!--Main row-->
    <div class="row justify-content-center">

        <div class="col-12 col-md-12 col-sm-12" style="border-style:solid;border-color:black;border-radius:25px;width:50%;margin-top:10%">

            <!--Row 01-->
            <div class="row text-center" style="padding-top:3%">
                <h2 class="fw-bold col-12 col-md-12 col-sm-12">Inquiries</h2>
            </div>

            <!--Row 02-->
            <div class="row justify-content-center" style="padding-top:3%">
                <div class="col-12 col-md-12 col-sm-12" style="border-style:solid;border-color:black;width:95%;height:2%" ></div>
            </div>

            <!--Row 03-->
            <div class="row" style="padding-top:3%">

                <div class="col-12 col-md-12 col-sm-12">

                    <label style="font-size:19px;">Subject</label>
                    <input type="text" style="color:grey" class="form-control" value="subject"/>

                </div>

            </div>

            <!--Row 04-->
            <div class="row" style="padding-top:3%;padding-top:3%">

                <div class="col-12 col-md-12 col-sm-12">

                    <label style="font-size:19px;">Message (Issue)</label>
                    <textarea style="color:grey;resize:none" rows="3" class="form-control">Message</textarea> 

                </div>

            </div>


            <!--Row 05-->
            <div class="row" style="padding-top:3%;padding-top:3%">

                <div class="col-12 col-md-12 col-sm-12">

                    <button type="submit" class="btn btn-primary" style="background-color:black;border-color:black;color:white;
                    width:100%;margin-bottom:4%">
                        Submit
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>
