@page
@model VelvetVeogue.Pages.LoginModel
@{
}

<div class="container">

    <!--Main row-->
    <div class="row justify-content-center LoginDiv" style="margin-top:5%;">

        <div class="col-12 col-sm-12 col-md-12" style="border-style:solid;border-color:black;width:50%;border-radius:25px;background-color:white;">

            <div class="text-center " style="padding-top:5%;">
                <h2 class="fw-bold">Login</h2>
            </div>

            <div style="margin-bottom:5%;margin-top:7%;">
                <label>Username</label>
                <input type="text" class="form-control" />

            </div>

            <div style="margin-bottom:7%">
                <label>Password</label>
                <input type="password" class="form-control" />

            </div>

            <div style="margin-bottom:10%;" class="justify-content-center">

                <button type="submit" class="btn btn-primary fw-bold" style="background-color:black;color:white;width:100%;border-color:black;">Login</button>

            </div>
        </div>

    </div>

</div>


