@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model VelvetVeogue.Pages.LoginConfigModel
@{
   
}

<form method="post">

    <div class="container">

        <!--Main row-->
        <div class="row">

            <div class="col-12 col-md-12 BorderAlifnment">

                <div class="MyclsBorder CardItemMoving">

                    <!--Row 01-->
                    <div class="row text-center col-12 col-md-12" style="padding-top:3%">
                        <label class="fw-bold LoginConfig" style="">Login Configuration</label>
                    </div>

                    <!--Row 02 (line)-->
                    <div class="row justify-content-center" style="padding-top:3%">
                        <div class="col-12 col-md-12" style="border-style:solid;border-color:black;width:95%;height:2%"></div>
                    </div>

                    <!--Row 03-->
                    <div class="row" style="padding-top:3%">

                        <div class="col-12 col-md-12">

                            <label class="Fonts">Current username</label>
                            <input type="text" style="color:grey" class="form-control" asp-for="tbxCurrent_username" placeholder="Current username" />
                            <span asp-validation-for="tbxCurrent_username" class="text-danger"></span>

                        </div>

                    </div>

                    <!--Row 04-->
                    <div class="row" style="padding-top:3%">

                        <div class="col-12 col-md-12">

                            <label class="Fonts">Current password</label>
                            <input type="password" style="color:grey" class="form-control" asp-for="tbxCurrent_pw" placeholder="Current password" />
                            <span asp-validation-for="tbxCurrent_username" class="text-danger"></span>

                        </div>

                    </div>


                    <!--Row 05 ok button-->
                    <div class="row" style="padding-top:3%;padding-top:3%">

                        <div class="col-12 col-md-12">

                            <button type="submit" class="btn btn-primary" style="background-color:black;border-color:black;color:white;
                            width:100%;margin-bottom:4%">

                                Ok
                            </button>

                        </div>

                    </div>

                    @if (HttpContextAccessor.HttpContext?.Session?.GetString("LoginChecking") == "true")
                    {
                        <!--Row 06-->
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12">

                                <label class="Fonts">New username</label>
                                <input type="text" style="color:grey" class="form-control" asp-for="tbxNew_username" placeholder="New username" />
                                <span asp-validation-for="tbxNew_username" class="text-danger"></span>

                            </div>

                        </div>

                        <!--Row 07-->
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12">

                                <label class="Fonts">New password</label>
                                <input type="password" style="color:grey" class="form-control" asp-for="tbxNew_pw" placeholder="New password" />
                                <span asp-validation-for="tbxNew_pw" class="text-danger"></span>

                            </div>

                        </div>


                        <!--Row 05 update button-->
                        <div class="row" style="padding-top:3%;padding-top:3%">

                            <div class="col-12 col-md-12">

                                <button type="submit" class="btn btn-primary" style="background-color:black;border-color:black;color:white;
                                width:100%;margin-bottom:4%">

                                    Update
                                </button>

                            </div>

                        </div>
                        
                    }

                   

                </div>


            </div>

        </div>

    </div>

</form>
