@page
@model VelvetVeogue.Pages.PaymentAndOrderConfirmationModel
@{
}

<form method="post">

    <div class="container ">
        <!--Main Row-->
        <div class="row justify-content-center">

            <!--Border (card)-->
            <div class="col-12" style="border-style:solid;border-color:black;width:50%">



            </div>

        </div>

    </div>

</form>

