@page
@model VelvetVeogue.Pages.PaymentAndOrderConfirmationModel
@{
}

<form method="post">

    <div class="container ">
        <!--Main Row-->
        <div class="row justify-content-center">

            <!--Border (card)-->
            <div class="col-12" style="border-style:solid;border-color:black;width:50%;border-radius:25px">

                <!--Email-->
                <div class="row pt-3">

                    <!--lblEmail-->
                    <div class="col-3">
                        <label>Email</label>

                    </div>

                    <!--tbxEmail-->
                    <div class="col-9">
                        <input type="email" placeholder="Email" asp-for="tbxEmail" class="form-control" />
                        <span asp-validation-for="tbxEmail" class="text-danger"></span>
                    </div>

                </div>

                <!--Address-->
                <div class="row pt-3">

                    <!--lblAddress-->
                    <div class="col-3">
                        <label>Address</label>

                    </div>

                    <!--tbxAddress-->
                    <div class="col-9">
                        <textarea placeholder="Address" asp-for="tbxaddress" rows="3" style="resize:none" class="form-control" ></textarea>
                        <span asp-validation-for="tbxaddress" class="text-danger"></span>
                    </div>

                </div>


                <!--Phone no-->
                <div class="row pt-3">

                    <!--lblContact No-->
                    <div class="col-3">
                        <label>Contact No</label>

                    </div>

                    <!--tbxContact No-->
                    <div class="col-9">
                        <input type="text" placeholder="Contact No" asp-for="tbxContactNo" class="form-control" />
                        <span asp-validation-for="tbxContactNo" class="text-danger"></span>
                    </div>

                </div>

                <!--Payment Method-->
                <div class="row pt-3 pb-3">

                    <!--lblPayment method-->
                    <div class="col-3">
                        <label>Payment method</label>

                    </div>

                    <!--tbxPayment method-->
                    <div class="col-9">
                        <select class="form-select" asp-for="cmbPaymentMethod" id="SelectedPaymentMethod">
                            <option disabled selected>Please select</option>
                            <option>Cash On Delivery</option>
                            <option>Online Payment</option>
                        </select>
                        
                    </div>

                </div>

                <!--hr line-->
                <div class="row" >
                    <div class="col-12">
                        <hr/>
                    </div>
                </div>

                <!--Selected Payment Method-->
                <div class="row pb-3" id="BottomPartOfTheCard">

                    

                </div>

            </div>

        </div>

    </div>

   
</form>

