@page
@model VelvetVeogue.Pages.ProductDetailsPageModel
@{
}

<form method="post">

    <div class="container">
        <!--Main row-->
        <div class="row text-center pt-5">

            <!--Left side (img)-->
            <div class="col-6 col-md-6 col-sm-6">
                <img src="~/img/Empty.jpg" />

            </div>

            <!--Right side (img)-->
            <div class="col-6 col-md-6 col-sm-6">

                <!--Sub row 01-->
                <div class="row" style="padding-right:71%">
                    <div class="col-12 col-md-12 col-sm-12" >
                        <label >Gents Items</label>

                    </div>
                </div>

                <!--Sub row 02-->
                <div class="row" style="padding-right:65%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:23px">ITEM TYPE</label>

                    </div>
                </div>

                <!--Sub row 03-->
                <div class="row" style="padding-right:75%;padding-top:5%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label>Rs 4500</label>

                    </div>
                </div>

                <!--Sub row 04-->
                <div class="row" style="padding-right:77%;padding-top:5%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:23px">Size</label>

                    </div>
                </div>

                <!--Sub row 05-->
                <div class="row " style="padding-right:60%;padding-top:3%">

                    <div class="col-12 col-md-12 col-sm-12 gap-5">

                        <button class="fw-bold btn btn-secondary" style="font-size:23px;">S</button>

                        <button class="fw-bold btn btn-secondary" style="font-size:23px;">M</button>

                        <button class="fw-bold btn btn-secondary" style="font-size:23px;">L</button>

                    </div>

                   
                </div>

                <!--Sub row 06 -->
                <div class="row" style="padding-right:74%;padding-top:5%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:23px">Color</label>

                    </div>
                </div>

                <!--Sub row 07 -->
                <div class="row" style="padding-left:8%;padding-top:3%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <input type="text" class="form-control" style="color:gray;width:50%" placeholder="Color"/>

                    </div>
                </div>

                <!--Sub row 08 | button -->
                <div class="row" style="padding-left:7%;padding-top:6%">
                    <div class="col-12 col-md-12 col-sm-12">
                       <button type="submit" style="width:90%;border-radius:25px" class="btn btn-primary">Buy Now</button>

                    </div>
                </div>
               

            </div>

        </div>

    </div>


</form>