@page
@model VelvetVeogue.Pages.SignUpModel
@{
}

<div class="container">

    <!--Main row-->
    <div class="row justify-content-center">

        <div class="col-12 col-md-12 col-sm-12" style="border-style:solid;border-color:black;border-radius:25px;width:50%;margin-top:10%">

            <!--Row 01-->
            <div class="row text-center" style="padding-top:3%">
                <h2 class="fw-bold col-12 col-md-12 col-sm-12">Sign UP</h2>
            </div>

            <!--Row 02-->
            <div class="row justify-content-center" style="padding-top:3%">
                <div class="col-12 col-md-12 col-sm-12" style="border-style:solid;border-color:black;width:95%;height:2%"></div>
            </div>

            <!--Row 03-->
            <div class="row" style="padding-top:3%">

                <div class="col-12 col-md-12 col-sm-12">

                    <label style="font-size:19px;">Username</label>
                    <input type="text" style="color:grey" class="form-control" placeholder="Username" />

                </div>

            </div>

            <!--Row 04-->
            <div class="row" style="padding-top:3%">

                <div class="col-12 col-md-12 col-sm-12">

                    <label style="font-size:19px;">Password</label>
                    <input type="password" style="color:grey" class="form-control" placeholder="Password" />

                </div>

            </div>

            <!--Row 05 confirm pw-->
            <div class="row" style="padding-top:3%">

                <div class="col-12 col-md-12 col-sm-12">

                    <label style="font-size:19px;">Confirm Password</label>
                    <input type="password" style="color:grey" class="form-control" placeholder="Confirm Password" />

                </div>

            </div>


            <!--Row 06 buttom-->
            <div class="row" style="padding-top:3%;padding-top:3%">

                <div class="col-12 col-md-12 col-sm-12">

                    <button type="submit" class="btn btn-primary fw-bold" style="background-color:black;border-color:black;color:white;
                    width:100%;margin-bottom:4%;font-size:19px">
                        Save
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>